.DS_Store
.vscode
.env
.venv
.swp
dist
.cache
*.exe
.idea
test_data
*.crt
llama/build
__debug_bin*
llama/vendor

models-ai
node_modules
package-lock.json
.vscode
__pycache__

# Local Chroma db
.chroma/
db/